/* css for pop-up */
@font-face {
    font-family: 'Yusei Magic', sans-serif;;
    src: url(https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap);
}

body {
    font-family: 'Yusei Magic', sans-serif!important;
    background-color: #222831;
}

.popup_content {
    width: 250px; 
}

.center {
    display: block;
    margin: auto;
}

#popup_button {
    border-radius: 5px;
    border: 0px;
    color: #FFF;
    background-color: #CBBCB1;
    padding: 10px 5px; 
    margin-top: 10px;
    font-family: inherit !important;
}